<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand" href="index.html">Bootstrap Admin Template </a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="icon-cog"></i> Account <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Settings</a></li>
                            <li><a href="javascript:;">Help</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="icon-user"></i> N2qv1994 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Profile</a></li>
                            <li><a href="javascript:;">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-search pull-right">
                    <input type="text" class="search-query" placeholder="Search">
                </form>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- /container -->
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container" style="margin-left:50px">
            <ul class="mainnav">
                <li><a ng-href="/#!/home"><i class="icon-dashboard"></i><span>Trang chủ</span> </a> </li>
                <li><a href="/#!/report"><i class="icon-list-alt"></i><span>Thống kê</span> </a> </li>
                <li><a href="/#!/apptour"><i class="shortcut-icon icon-user"></i><span>Người dùng</span> </a></li>
                <li class="active"><a href="/#!/charts"><i class="icon-bar-chart"></i><span>Biểu đồ</span> </a> </li>
                <li><a href="/#!/management"><i class="icon-code"></i><span>Mặt hàng</span> </a> </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-long-arrow-down"></i><span>Drops</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="icons.html">Icons</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="pricing.html">Pricing Plans</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="signup.html">Signup</a></li>
                        <li><a href="error.html">404</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
<div class="main" style="height:500px">
    <div class="main-inner">
        <div class="" style="margin-left:50px">
            <div class="row">
                <div class="span6">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-bar-chart"></i>
                            <h3>
                                    Người dùng</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <canvas id="bar-chart" class="chart-holder" width="538" height="250">
                            </canvas>
                            <!-- /bar-chart -->
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                    <!-- /widget -->
                    <div class="widget">
                        <button class="btn" style="background-color: #DCDCDC;width: 50px;height:18px"></button> Khách hàng<br>
                        <button class="btn" style="background-color: #97bbcd ;width: 50px;height:18px"></button> Nhà cung cấp
                    </div>
                    <!-- /widget -->
                </div>
                <!-- /span6 -->
                <div class="span6">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-bar-chart"></i>
                            <h3>
                                    Loại mặt hàng</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <canvas id="donut-chart" class="chart-holder" width="538" height="250">
                            </canvas>
                            <!-- /bar-chart -->
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                    <div class="widget">
                        <button class="btn" style="background-color: #66c2ff;width: 50px;height:18px"></button> Hải sản<br>
                        <button class="btn" style="background-color: #ff0000 ;width: 50px;height:18px"></button> Thịt<br>
                        <button class="btn" style="background-color: #008000;width: 50px;height:18px"></button> Rau củ<br>
                        <button class="btn" style="background-color: #1aff1a ;width: 50px;height:18px"></button> Trái cây<br>
                        <button class="btn" style="background-color: #ffff1a ;width: 50px;height:18px"></button> Mặt hàng khác<br>
                    </div>
                    <!-- /widget -->
                </div>
                <!-- /span6 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>
<script type="text/javascript">
var doughnutData = [{
        value: 150,
        color: "#008000"
    }, {
        value: 80,
        color: "#ff0000"
    }, {
        value: 100,
        color: "#66c2ff"
    }, {
        value: 120,
        color: "#1aff1a"
    }, {
        value: 10,
        color: "#ffff1a"
    }

];

var myDoughnut = new Chart(document.getElementById("donut-chart").getContext("2d")).Doughnut(doughnutData);



var barChartData = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [{
        fillColor: "rgba(220,220,220,0.5)",
        strokeColor: "rgba(220,220,220,1)",
        data: [35, 39, 54, 65, 53, 70, 80]
    }, {
        fillColor: "rgba(151,187,205,0.5)",
        strokeColor: "rgba(151,187,205,1)",
        data: [40, 58, 60, 80, 96, 90, 120]
    }]

}

var myLine = new Chart(document.getElementById("bar-chart").getContext("2d")).Bar(barChartData);
</script>
</body>

</html>