<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="index.html">
                Bootstrap Admin Template                
            </a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-cog"></i> Account
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Settings</a></li>
                            <li><a href="javascript:;">Help</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i> N2qv1994
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Profile</a></li>
                            <li><a href="javascript:;">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-search pull-right">
                    <input type="text" class="search-query" placeholder="Search">
                </form>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- /container -->
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container" style="margin-left:50px">
            <ul class="mainnav">
                <li><a ng-href="/#!/home"><i class="icon-dashboard"></i><span>Trang chủ</span> </a> </li>
                <li class="active"><a href="/#!/report"><i class="icon-list-alt"></i><span>Thống kê</span> </a> </li>
                <li><a href="/#!/apptour"><i class="shortcut-icon icon-user"></i><span>Người dùng</span> </a></li>
                <li><a href="/#!/charts"><i class="icon-bar-chart"></i><span>Biểu đồ</span> </a> </li>
                <li><a href="/#!/management"><i class="icon-code"></i><span>Mặt hàng</span> </a> </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-long-arrow-down"></i>
                        <span>Drops</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="icons.html">Icons</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="pricing.html">Pricing Plans</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="signup.html">Signup</a></li>
                        <li><a href="error.html">404</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
<div class="main">
    <div class="main-inner">
        <div class="container" style="margin-left:50px">
            <div class="row">
                <div class="span12">
                    <div class="info-box">
                        <div class="row-fluid stats-box">
                            <div class="span4">
                                <div class="stats-box-title">Người dùng</div>
                                <div class="stats-box-all-info"><i class="icon-user" style="color:#3366cc;"></i> 100</div>
                                <div class="wrap-chart">
                                    <div id="visitor-stat" class="chart" style="padding: 0px; position: relative;">
                                        <canvas id="bar-chart1" class="chart-holder" height="150" width="325"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="stats-box-title">Doanh thu</div>
                                <div class="stats-box-all-info"><i class="icon-money" style="color:#F30"></i> 80.00</div>
                                <div class="wrap-chart">
                                    <div id="order-stat" class="chart" style="padding: 0px; position: relative;">
                                        <canvas id="bar-chart2" class="chart-holder" height="150" width="325"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="stats-box-title">Đơn hàng</div>
                                <div class="stats-box-all-info"><i class="icon-shopping-cart" style="color:#3C3"></i> 500</div>
                                <div class="wrap-chart">
                                    <div id="user-stat" class="chart" style="padding: 0px; position: relative;">
                                        <canvas id="bar-chart3" class="chart-holder" height="150" width="325"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /row -->
            <div class="row">
                <!-- /span6 -->
                <div class="span6">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-list-alt"></i>
                            <h3>Thống kê khác</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <canvas id="bar-chart" class="chart-holder" height="250" width="538"></canvas>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                </div>
                <!-- /span6 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>
<!-- /main -->
<!-- /footer -->
<script>


var barChartData = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [{
        fillColor: "rgba(220,220,220,0.5)",
        strokeColor: "rgba(220,220,220,1)",
        data: [65, 59, 90, 81, 56, 55, 40]
    }, {
        fillColor: "rgba(151,187,205,0.5)",
        strokeColor: "rgba(151,187,205,1)",
        data: [28, 48, 40, 19, 96, 27, 100]
    }]

}

var myLine = new Chart(document.getElementById("bar-chart").getContext("2d")).Bar(barChartData);
var myLine = new Chart(document.getElementById("bar-chart1").getContext("2d")).Bar(barChartData);
var myLine = new Chart(document.getElementById("bar-chart2").getContext("2d")).Bar(barChartData);
var myLine = new Chart(document.getElementById("bar-chart3").getContext("2d")).Bar(barChartData);
</script>